<h1 class="text-center text-danger">Delete Student</h1>
<br />
<div class="row">
    <div class="col-md-3 col-lg-offset-1">
        <h3 class="text-danger"> Select Student </h3>
        <hr />

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="studentsDropDown" data-toggle="dropdown">
                {{selectedItem}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="studentsDropDown">
                <li ng-repeat="student in students">
                    <a ng-click="itemSelected(student)">{{student.S_Id}}</a>
                </li>
            </ul>
        </div>

    </div>


    <div class="col-md-7">
        <div class="col-md-6 col-lg-offset-3">
            <form ng-show="isDeleteVisible">
                <div class="form-group">
                    <label for="nameInput">Name</label>
                    <input id="nameInput" type="text" ng-disabled="true" ng-model="S_Name" class="form-control input-lg" placeholder="Student Name" />
                </div>
                <div class="form-group">
                    <label for="aphoneNoInput">Phone No</label>
                    <input id="aphoneNoInput" type="text" ng-disabled="true"  ng-model="S_PhoneNo" class="form-control input-lg" placeholder="Student Phone No" />
                </div>
                <div class="form-group">
                    <label for="addressInput">Address</label>
                    <input id="addressInput" type="text" ng-disabled="true"  ng-model="S_Address" class="form-control input-lg" placeholder="Student Address" />
                </div>
                <button ng-click="deleteStudent()" class="btn btn-danger form-control input-lg">Delete</button>
            </form>

        </div>
    </div>


</div>